html
{
    font-size: 20px;
}
section{
    background-color: #ffb703;
    width:  50vw;
    height: 40vh;
    margin-bottom: 1em;
}
div
{
    background-color: #d62828;
    width: 50%;
    height: 40%;
}
article
{
    font-size: 20px;
}
#ems{
    background-color: #023047;
    color: #bde0fe;
    font-size: 0.8em;
    border-radius: 0.8em;
    /* ems assosicated with parents font-size */
    padding: 0.1em 0.5em;   
}

ul
{
    font-size: 1.5rem;
    /* rem assosicated with root element */
}