@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    font-family: "Opan Sans",sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
header a{
   text-decoration: none;  
   color: white;
}
a:hover
{
    color: #ddd;
    cursor: pointer;
}
.navbar
{
    background-color: black;
    height: 3.5rem;
    color: white;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    font-size: 0.9rem;
}
span
{
    font-weight: 900;
}
.navlogo img
{
    max-width: 8rem;
}
.nav-search {
    display: flex;
    justify-content: space-evenly;
    max-width: 620px;
    width: 100%;
    height: 40px;
    border-radius: 4px;
  }
  .select-search {
    background: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
  }
  .search-input {
    max-width: 600px;
    width: 100%;
    font-size: 1rem;
    border: none;
    outline: none;
    padding-left: 10px;
  }
  .search-icon {
    max-width: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background: #febd68;
    color: #000;
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  
  .banner-content
  {
     height: 3rem;
     background-color:  #222f3d;
     color: white;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 0px 30px;
  }
  .panel
  {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
  }
  .links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 15px;
    flex-grow: 1;
    margin-left: 15px;
  }
  .links a {
   padding: 10px 0;
  }
  .deals a {
    font-size: 0.9rem;
    font-weight: 500;
    white-space: nowrap;
  }

  .banner-image img
  {
     width: 100%;
  }
   
  .main-content
  {
          display: flex;
         justify-content: space-evenly;
         flex-direction: row;
         flex-wrap: wrap;
         background-color: #f3f3f3;
         padding: 50px 0;
         gap: 45px;
  }
  .shop-link
  {
     height: 400px;
     width: 300px;
     background-color: white;
     padding: 25px ;
     cursor: pointer;
  }

  .shop-link img
  {
    width: 100%;
    height: 280px;
    object-fit: cover;
    margin: 10px 0px 10px 0px;
  }

  .shop-link a{
     text-decoration: none;
     color: blue;
  }
  .shop-link a:hover{
    color: brown;
 }

 .footer-titled
 {
     height: 4rem;
     width: 100%;
     background-color: #37475a;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .footer-titled a{
    text-decoration: none;
    color: white;
    font-weight: 700;
 }
 .footer-titled a:hover{
    color: gray;
 }

 .footer-menu
 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
    background: #232f3e;
 }
 .footer-menu h3
 {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    margin: 20px 0 10px 0;
 }
 .footer-menu ul {
    list-style: none;
    margin-bottom: 20px;
  }
  .footer-menu li
  {
     margin: 7px 0px;
  }
  .footer-menu li a {
    color: #ddd;
    font-size: 0.875rem;
    text-decoration: none;
  }
  .footer-menu li a:hover {
    text-decoration: underline;
  }